# django environment
SECRET_KEY=default_secret_key
DEBUG=True
ALLOWED_HOSTS=*
LOGGING_LEVEL=INFO
LOGGING_FILENAME=logging.log

# PostgreSQL credentials
POSTGRES_DB=organizational_structure
POSTGRES_USER=qwerty
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Django DB connection
DEFAULT_DB=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}